﻿<div class="jumbotron">
    <h1>Mi aplicación IoT</h1>
    <p>Esta es la aplicación IoT de <b>Carlos Espinoza</b> para la materia de <b>Internet de las Cosas</b></p>
    <p>Inicia sesión:</p>

    @using (Html.BeginForm("Login", "Home", new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label class="col-sm-2 control-label">Usuario</label>
            <div class="col-sm-10">
                <input class="form-control" id="usuario" name="usuario" placeholder="Nombre de Usuario">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Ingresar</button>
            </div>
        </div>
    }

    @if (ViewBag.Mensaje != "")
    {
        <div class="alert alert-danger" role="alert">@ViewBag.Mensaje</div>
    }

    @Html.ActionLink("Registrarme...", "Registrar")
</div>

